chapter6/train.feature.txt
chapter6/valid.feature.txt
chapter6/test.feature.txt
chapter6/test.txt
chapter6/train.txt
chapter6/valid.txt
chapter6/model.pickle
chapter6/NewsAggregatorDataset
chapter7/GoogleNews-vectors-negative300.bin.gz
chapter7/questions-words.similar.txt
chapter7/questions-words.txt